.cabeçalho{
background-image: url(img/14.webp);
text-align: center;
}

.titulo{
    text-align: center;
    color: rgb(253, 169, 113);
}

.img-restaurantes{
    padding-top: 300px;
    
}
.icone{
text-align: center;
}



