.cabeçalho{
    background-color: rgb(255, 217, 217);
    text-align: center;
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform:unset
}

.img-restaurantes{
    padding-top: 150px;
    
}

.p{
    padding-top: 60px;
}


