.cabeçalho{
    background-color: rgb(255, 217, 217);
    text-align: center;
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform:unset
}

.img-restaurantes{
    padding-top: 90px;
    
}

.img-restaurantes{
    padding-left: 600px;
}

.sobre{
padding-bottom: 10px;  
}

.descricao-restaurante{
   text-align: left;
}

.botao{
    display: flex;
   align-items:center;
}